{% extends 'base-dashboard.html' %}
{% block pagename %}Управление{% endblock %}
{% block main %}
<div class="ui grid">
    <div class="four wide column">
        <div class="ui vertical fluid tabular menu">
            <a class="item">
                <h4 class="ui image header">
                    <img src="https://semantic-ui.com/images/avatar2/small/lena.png" class="ui mini rounded image">
                    <div class="content">
                        Lena
                        <div class="sub header">
                            test user
                        </div>
                    </div>
                </h4>
            </a>
            <a class="active item">
                <h4 class="ui image header">
                    <img src="https://github.com/Semantic-Org/Semantic-UI/blob/master/examples/assets/images/avatar/nan.jpg?raw=true"
                         class="ui mini rounded image">
                    <div class="content">
                        Nan
                        <div class="sub header">
                            test user
                        </div>
                    </div>
                </h4>
            </a>


        </div>
    </div>
    <div class="twelve wide stretched column">
        <div class="ui segment">
            <div class="text">
                Заказ: Написать парсер<br>
                Сайт: <a href="https://www.wildberries.ru/" target="_blank">https://www.wildberries.ru/</a>
            </div>

            <hr>
            <div class="ui comments">
                <div class="comment">
                    <a class="avatar">
                        <img src="https://github.com/Semantic-Org/Semantic-UI/blob/master/examples/assets/images/avatar/nan.jpg?raw=true">
                    </a>
                    <div class="content">
                        <a class="author">Nan</a>
                        <div class="metadata">
                            <span class="date">Today at 5:42PM</span>
                        </div>
                        <div class="text">
                            Здравствуйте, мне нужен сайт.
                        </div>
                        <div class="actions">
                            <a class="reply">Reply</a>
                        </div>
                    </div>

                    <div class="comment">
                        <a class="avatar">
                            <img src="https://github.com/Semantic-Org/Semantic-UI/blob/master/examples/assets/images/avatar/tom.jpg?raw=true">
                        </a>
                        <div class="content">
                            <a class="author">You</a>
                            <div class="metadata">
                                <span class="date">Today at 5:52PM</span>
                            </div>
                            <div class="text">
                                Прекрипите техническое задание.
                            </div>
                            <div class="actions">
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="comment">
                    <a class="avatar">
                        <img src="https://github.com/Semantic-Org/Semantic-UI/blob/master/examples/assets/images/avatar/nan.jpg?raw=true">
                    </a>
                    <div class="content">
                        <a class="author">Nan</a>
                        <div class="metadata">
                            <span class="date">Today at 5:42PM</span>
                        </div>
                        <div class="text">
                            Здравствуйте, мне нужен сайт.
                        </div>
                        <div class="actions">
                            <a class="reply">Reply</a>
                        </div>
                    </div>

                    <div class="comment">
                        <a class="avatar">
                            <img src="https://github.com/Semantic-Org/Semantic-UI/blob/master/examples/assets/images/avatar/tom.jpg?raw=true">
                        </a>
                        <div class="content">
                            <a class="author">You</a>
                            <div class="metadata">
                                <span class="date">Today at 5:52PM</span>
                            </div>
                            <div class="text">
                                Прекрипите техническое задание.
                            </div>
                            <div class="actions">
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="comment">
                    <a class="avatar">
                        <img src="https://github.com/Semantic-Org/Semantic-UI/blob/master/examples/assets/images/avatar/nan.jpg?raw=true">
                    </a>
                    <div class="content">
                        <a class="author">Nan</a>
                        <div class="metadata">
                            <span class="date">Today at 5:42PM</span>
                        </div>
                        <div class="text">
                            Здравствуйте, мне нужен сайт.
                        </div>
                        <div class="actions">
                            <a class="reply">Reply</a>
                        </div>
                    </div>

                    <div class="comment">
                        <a class="avatar">
                            <img src="https://github.com/Semantic-Org/Semantic-UI/blob/master/examples/assets/images/avatar/tom.jpg?raw=true">
                        </a>
                        <div class="content">
                            <a class="author">You</a>
                            <div class="metadata">
                                <span class="date">Today at 5:52PM</span>
                            </div>
                            <div class="text">
                                Прекрипите техническое задание.
                            </div>
                            <div class="actions">
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="comment">
                    <a class="avatar">
                        <img src="https://github.com/Semantic-Org/Semantic-UI/blob/master/examples/assets/images/avatar/nan.jpg?raw=true">
                    </a>
                    <div class="content">
                        <a class="author">Nan</a>
                        <div class="metadata">
                            <span class="date">Today at 5:42PM</span>
                        </div>
                        <div class="text">
                            Здравствуйте, мне нужен сайт.
                        </div>
                        <div class="actions">
                            <a class="reply">Reply</a>
                        </div>
                    </div>

                    <div class="comment">
                        <a class="avatar">
                            <img src="https://github.com/Semantic-Org/Semantic-UI/blob/master/examples/assets/images/avatar/tom.jpg?raw=true">
                        </a>
                        <div class="content">
                            <a class="author">You</a>
                            <div class="metadata">
                                <span class="date">Today at 5:52PM</span>
                            </div>
                            <div class="text">
                                Прекрипите техническое задание.
                            </div>
                            <div class="actions">
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="ui form">
                <form action="/" method="post">
                    <div class="field">
                        {% csrf_token %}
                        <label>Message</label>
                        <input style="height: 40px;" >
                        <input type="hidden" name="to" id="" value="1">
                        <input type="hidden" name="from" value="1">
                        <button type="submit" style="visibility: hidden;">Send</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!--<table class="ui very basic collapsing celled table">
      <thead>
        <tr><th>Chats</th>
      </tr></thead>
      <tbody>
        <tr>
          <td>
            <h4 class="ui image header">
              <img src="https://semantic-ui.com/images/avatar2/small/lena.png" class="ui mini rounded image">
              <div class="content">
                <i class="pencil alternate icon"></i>Lena
                <div class="sub header">
              </div>
            </div>
          </h4></td>
        </tr>
      </tbody>
    </table>-->
    {% endblock %}
